@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
	font-family: 'Questrial', sans-serif;
}

.row {
	padding: 10px;
	background-color: #34495e;
}

table {
	/*font-weight: bold;*/
	color: white;
	text-shadow: black;
	text-align: center;
	border: 2px solid white;

	padding: 10px;
}

td, tr {
	border: 1px solid white;
	border-radius: 2px;
}

iframe {
	width: 100%;
	height: 250px;
}

#snd {
	width: 100%;
	height: 700px;
}

input {
	background-color: #ecf0f1;
	border: 1px solid #2c3e50;
	padding: 2px;
}

input[type=button] {
	background-color: #EE5A24;
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	padding: 4px;
	width: 100%;
}

span {
	cursor: pointer;
	font-size: 11px;
}

.col-container {
  display: flex;
  width: 100%;
}
.col {
  flex: 1;
  padding: 16px;
}

.title {
	font-weight: bold;
}

#resultK, #resultC {
	padding: 8px;
}

.purple {
	background-color: #8e44ad;
}

.red {
	background-color: #c0392b;
}

.yellow {
	background-color: #f1c40f;
}

.green {
	background-color: #27ae60;
}

.indexes {
	border-radius: 10px;
	cursor: none;
}
